<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div class="container">
  <div class="card-carousel">
    <div class="my-card lewagon">
      <div class="header">
        <p>Le Wagon</p>
        <img src="https://lewagon.github.io/ui-components/images/lewagon.png" alt="" class="logo">
      </div>
      <div class="website">
        <a href="https://www.lewagon.com/">www.LeWagon.com</a>
      </div>
      <div class="body">
        <p>Europe's #1 coding bootcamp, teaching HTML, CSS, Bootstrap, JavaScript, ES6, PostgreSQL, SQL, git, GitHub, Heroku, Ajax and Ruby on Rails.</p>
        <p>Designed, Implemented and Shipped to production a meetup-like clone and a Rails project, called Betterply allowing gamers to bet on their skills against other gamers across the globe.</p>
      </div>
    </div>
    <div class="my-card"></div>
    <div class="my-card"></div>
  </div>

<div id='title'>
  <h3>Michael Eldred</h3>
  <p>Full-Stack Developer</p>
  <div class="social-media">
    <a href="https://github.com/W5rd1"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/michaeleldred/"><i class="fab fa-github-square"></i></a>
  </div>
</div>
</div>
